<!DOCTYPE html>
<html>
<head>
<title>Chat</title>
</head>
<body>
Leaderboard:<br>
  <p id="leaderboard"></p>
<h1>Click bg:</h1>
Username:
<input id="user">
<p>nombre de pnt:</p><p id="pnt"></p><br>
<input type="submit" id="sender" style="size: 200%;">
<p>Earn per rep: </p><p id="mul">1</p>
<br>Buy an update:
<input type="submit" id="buy" style="size: 200%;">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  var socket = io("https://" + document.domain);
  document.getElementById("sender").onclick = function () {
    var user = document.getElementById("user").value
  
    socket.emit("earn", {user: user});
  };

  document.getElementById("buy").onclick = function () {
    var user = document.getElementById("user").value
  
    socket.emit("buy", {user: user});
  };
    
    socket.on('connect', function() {
    
        socket.emit('onconnected ', {msg: 'I\'m connected!'});
    });
    socket.on('leaderboard', function(data) {
      document.getElementById("leaderboard").innerHTML =data.lb
    });

  socket.on('updatepnt', function(data) {
      document.getElementById("pnt").innerHTML =data.pnt
    });
  
    socket.on('updateearn', function(data) {
      document.getElementById("mul").innerHTML = "Earn per rep: " + data.mul + "<br>"
    });
</script>

</body>
</html>
