<!DOCTYPE html>
<html>
<head>
<title>Chat</title>
</head>
<body>

<h1>Bienvenue dans le chat yeyeye</h1>
<p>Chat:</p><br>
<p id="chat">None</p>
<input id="msg">
<input type="submit" id="sender">

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  var socket = io("https://" + document.domain);
  document.getElementById("sender").onclick = function () {
    var msg = document.getElementById("msg").value;
    socket.emit("sendmsg", {msg: msg});
  };
    
    socket.on('connect', function() {
      alert("c")
        socket.emit('onconnected ', {msg: 'I\'m connected!'});
    });


  socket.on('updatechat', function(data) {
      document.getElementById("chat").innerHTML +=data.msg + "\n"
      
      
    });
  
    socket.on('updatemsg', function(data) {
      document.getElementById("chat").innerHTML +=data.msg + "<br>"
    
      
    });
</script>

</body>
</html>
